        body {
            font-family: Arial, Helvetica, sans-serif;
            background-color: #f8e7d1;
            margin: 0;
        }
        /*--- Scroll --- */
        /* width */
        
         ::-webkit-scrollbar {
            width: 3px;
        }
        /* Track */
        
         ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }
        /* Handle */
        
         ::-webkit-scrollbar-thumb {
            background: #985d41bf;
        }
        /* Handle on hover */
        
         ::-webkit-scrollbar-thumb:hover {
            background: #985d41bf;
        }
        
        .yoszlop {
            width: 180px;
            height: 90%;
            left: 20%;
            position: absolute;
            margin-top: 30px;
            margin-bottom: 30px;
            background-color: #985d41bf;
        }
        
        .xoszlop {
            width: 55%;
            height: 130px;
            background-color: #985d41bf;
            position: absolute;
            left: 10vw;
            top: 105px;
            text-align: center;
            padding-left: 20%;
            color: white;
        }
        
        @media only screen and (max-width: 1000px) {
            .yoszlop {
                display: none;
            }
            .xoszlop {
                width: 100%;
                height: 20%;
                background-color: #985d41bf;
                position: absolute;
                left: 0vw;
                top: 0px;
                text-align: center;
                padding-left: 0%;
                color: white;
            }
        }
        @media only screen and (min-width: 1001px) {
                
.menu {
                        display:none !important;
                }
        }
        
        li .englishgomb {
            background-color: none;
            margin: 20px;
            position: absolute;
            width: 110px;
            height: 30px;
            text-align: center;
            color: white;
            border: 2px solid #f8f0c6;
            padding-top: 10px;
            top: 10px;
        }
        
        li .deutschgomb {
            background-color: none;
            margin: 20px;
            margin-top: 70px;
            position: absolute;
            width: 110px;
            height: 30px;
            text-align: center;
            color: #f8f0c6;
            border: 2px solid #f8f0c6;
            padding-top: 10px;
        }
        
        li {
            background-color: none;
            margin: 1rem -20px 1rem;
            list-style-type: none;
            position: relative;
            width: 90%;
            height: 90%;
            text-align: center;
            color: white;
            box-sizing: content-box;
            border-width: 2px;
            border-style: solid;
            border-image: linear-gradient(to right bottom, #f8f0c6, #985d41bf);
            border-image-slice: 1;
            padding: 10px;
        }
        
        .normal {
            color: #985d41f6;
            text-align: left;
            list-style-type: disc;
            border: none;
            padding: 1px;
            margin: 0;
        }
        
        .normalcircle {
            color: #985d41f6;
            text-align: left;
            list-style-type: disc;
            border: none;
            padding: 1px;
            margin: 0;
            margin-left: 2em;
            list-style-type: circle;
        }
        
        a {
            background-color: none;
            color: white;
            text-decoration: none;
        }
        
        .active {
            background-color: #985d41bf;
        }
        /*------------ Szolgaltatasok ---------- */
        
        button.accordion {
            cursor: pointer;
            border: none;
            outline: none;
            width: 100%;
            text-align: left;
            background-color: transparent;
            color: #985d41bf;
            padding: 8px;
            margin: 4px 0;
            border-radius: 4px;
            transition: 0.3s;
            font-size: 16px;
        }
        
        button.accordion:hover {
            background-color: #985d41bf;
            color: white;
        }
        
        button.accordion.active {
            background-color: ivory;
            color: #985d41bf;
            border-radius: 4px 4px 0 0;
            margin: 4px 0 0;
            background: rgba(248, 231, 209, 0.46);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
        }
        
        div.panel {
            color: #985d41bf;
            border-radius: 0 0 4px 4px;
            overflow: hidden;
            opacity: 0;
            max-height: 0;
            transition: 0.3s;
            padding: 0 8px;
            margin: 0;
            background-color: rgba(248, 231, 209, 0.46);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
        }
        
        div.panel.show {
            opacity: 1;
            max-height: 100%;
            padding: 8px;
            margin: 2px 0 4px;
            border-radius: 0 0 4px 4px;
            background-color: rgba(248, 231, 209, 0.46);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
        }
        
        .btn {
            background-color: #f8f0c6;
            border: none;
            color: darkslategray;
            padding: 14px 15px;
            font-size: 16px;
            cursor: pointer;
            border-radius: 0%;
        }
        /*--------------- logo, szoveg keret helye ------ */
        
        .logo {
            width: 100px;
            height: 100px;
            position: relative;
            background: url("logonagybeige.png") no-repeat;
            left: 23vw;
            top: 125px;
            background-size: contain;
        }
        
        .szoveg1 {
            width: 56vw;
            height: auto;
            left: 29%;
            position: relative;
            margin-bottom: 2vw;
            padding-top: 135px;
            display: grid;
            grid-template-columns: auto auto;
            border-radius: 0px 0 15px 0px;
            /* background-color: yellow; */
            box-shadow: 6px 6px 5px hsl(0deg 0% 0% / 2%), 25px 25px 20px hsl(0deg 0% 0% / 3%), 100px 100px 80px hsl(0deg 0% 0% / 5%);
        }
        
        .szoveg {
            width: 48vw;
            height: 40%;
            left: 37%;
            top: 9.5rem;
            position: relative;
            font-size: 16px;
            margin-bottom: 20vw;
        }
        
        .szoveges {
            padding: 0px 40px 0px 90px;
            border-radius: 0 10px 10px 0;
        }
        
        .kephelye {
            width: 272px;
            /* object-fit: cover; */
            /* object-position: left; */
            overflow: hidden;
            position: relative;
            border-radius: 0px 0 15px 0px;
            /* background-color: yellow; */
            box-shadow: 6px 6px 5px hsl(0deg 0% 0% / 2%), 25px 25px 20px hsl(0deg 0% 0% / 3%), 100px 100px 80px hsl(0deg 0% 0% / 5%);
        }
        
        @media only screen and (min-width: 1900px) {
            .szoveg {
                height: 35em;
                width: 48.5em;
                padding-left: 30px;
                left: 29%;
                grid-template-columns: 44.8% minmax(30vw, 1vh);
            }
            .kephelye {
                left: 0px;
            }
        }
        
        @media only screen and (max-width: 1000px) {
            .szoveges {
                padding: 0px 40px 0px 40px;
                border-radius: 10px 10px 10px 10px;
                border-radius: 0px 0px 30px 30px;
            }
            .szoveg {
                height: 100%;
                width: 90%;
                padding: 0px;
                left: 0%;
                grid-template-columns: none;
            }
            .szoveg1 {
                width: 90%;
                height: auto;
                left: 5%;
                top: 20%;
                position: absolute;
                margin-bottom: 100px;
                padding-top: 0px;
                grid-template-columns: none;
                border-radius: 0px 0px 30px 30px;
                /* background-color: yellow; */
                box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
            }
            .kephelye {
                left: 0px;
                padding: 0px 0px 0px 0px;
                width: 100%;
                border-radius: 0px 0px 30px 30px;
                top: 10px;
            }
            .logo {
                width: 16%;
                position: relative;
                background: url(logonagybeige.png) no-repeat;
                left: 2vw;
                top: 10px;
                background-size: contain;
            }
        }
        
        .kapcsolat:link,
        .kapcsolat:visited {
            background-color: #985d41bf;
            color: white;
            padding: 14px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
        }
        
        .kapcsolat:hover,
        .kapcsolat:active {
            background-color: ivory;
            color: #985d41bf;
        }
        /*-------- mobilos kinézet, reponsivek--------- */
        
        .r-button {
            --uirButtonBackgroundColor: var(--rButtonBackgroundColor, transparent);
            --uirButtonPadding: var(--rButtonPadding, var(--rButtonPaddingTop, 0) var(--rButtonPaddingRight, 0) var(--rButtonPaddingBottom, 0) var(--rButtonPaddingLeft, 0));
            --uirButtonBorderWidth: var(--rButtonBorderWidth, 0);
            --uirButtonBorderStyle: var(--rButtonBorderStyle, solid);
            --uirButtonBorderColor: var(--rButtonBorderColor, currentColor);
            --uirButtonFontFamily: var(--rButtonFontFamily, inherit);
            --uirButtonFontSize: var(--rButtonFontSize, inherit);
            --uirButtonColor: var(--rButtonColor);
            background-color: var(--uirButtonBackgroundColor);
            padding: var(--uirButtonPadding);
            border-width: var(--uirButtonBorderWidth);
            border-style: var(--uirButtonBorderStyle);
            border-color: var(--uirButtonBorderColor);
            cursor: pointer;
            font-family: var(--uirButtonFontFamily);
            font-size: var(--uirButtonFontSize);
        }
        
        .r-button::-moz-focus-inner,
        .r-button[type="button"]::-moz-focus-inner,
        .r-button[type="reset"]::-moz-focus-inner,
        .r-button[type="submit"]::-moz-focus-inner {
            border-style: none;
            padding: 0;
        }
        
        .r-link {
            --uirLinkDisplay: var(--rLinkDisplay, inline-flex);
            --uirLinkTextColor: var(--rLinkTextColor);
            --uirLinkTextDecoration: var(--rLinkTextDecoration, none);
            display: var(--uirLinkDisplay) !important;
            color: var(--uirLinkTextColor) !important;
            text-decoration: var(--uirLinkTextDecoration) !important;
        }
        
        .r-list {
            --uirListPaddingLeft: var(--rListPaddingLeft, 0);
            --uirListMarginTop: var(--rListMarginTop, 0);
            --uirListMarginBottom: var(--rListMarginBottom, 0);
            --uirListListStyle: var(--rListListStyle, none);
            padding-left: var(--uirListPaddingLeft) !important;
            margin-top: var(--uirListMarginTop) !important;
            margin-bottom: var(--uirListMarginBottom) !important;
            list-style: var(--uirListListStyle) !important;
        }
        
        .m-hamburger {
            --uiHamburgerThickness: var(--hamburgerThickness, 4px);
            display: var(--hamburgerDisplay, inline-flex);
            width: var(--hamburgerWidth, 28px);
            height: var(--hamburgerHeight, 20px);
            position: relative;
        }
        
        .m-hamburger::before,
        .m-hamburger::after,
        .m-hamburger__label {
            width: 100%;
            height: var(--uiHamburgerThickness);
            border-radius: var(--hamburgerBorderRadius, 5px);
            background-color: var(--hamburgerBackgroundColor, currentColor);
            position: absolute;
            left: 0;
        }
        
        .m-hamburger::before,
        .m-hamburger::after {
            content: "";
        }
        
        .m-hamburger::before {
            top: 0;
        }
        
        .m-hamburger::after {
            bottom: 0;
        }
        
        .m-hamburger__label {
            top: calc(50% - calc(var(--uiHamburgerThickness) / 2));
        }
        
        .screen-reader {
            width: var(--screenReaderWidth, 1px) !important;
            height: var(--screenReaderHeight, 1px) !important;
            padding: var(--screenReaderPadding, 0) !important;
            border: var(--screenReaderBorder, none) !important;
            position: var(--screenReaderPosition, absolute) !important;
            clip: var(--screenReaderClip, rect(1px, 1px, 1px, 1px)) !important;
            overflow: var(--screenReaderOverflow, hidden) !important;
        }
        /*
=====
MENU stilus, hamburger
=====
*/
        
        .menu {
            --uiMenuCircleSize: var(--menuCircleSize, 6.25rem);
            --uiMenuCircleOffset: var(--menuCircleOffset, 1rem);
            --uiMenuCircleHeight: calc(var(--uiMenuCircleSize) / 2);
            --uiMenuCircleBackgroundColor: var(--menuCircleBackgroundColor, currentColor);
            --uiMenuHamburgerWidth: var(--menuHamburgerWidth, 1.75rem);
            --uiMenuHamburgerHeight: var(--menuHamburgerHeight, 1.25rem);
            --rButtonPaddingTop: calc(var(--uiMenuCircleHeight) - var(--uiMenuHamburgerHeight) - var(--uiMenuCircleOffset));
            --hamburgerWidth: var(--uiMenuHamburgerWidth);
            --hamburgerHeight: var(--uiMenuHamburgerHeight);
            --hamburgerBackgroundColor: var(--menuHamburgerBackgroundColor, #fff);
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: fixed;
            bottom: 0;
            left: 0;
            z-index: var(--menuZindex, 9998);
        }
        
        .menu__nav {
            box-sizing: border-box;
            width: 100%;
            height: 0;
            transition: opacity .2s ease-out;
            opacity: 0;
            display: flex;
            align-items: flex-end;
            z-index: 2;
        }
        
        .menu__list {
            width: 100%;
            max-height: 100%;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
        }
        
        .menu__toggle {
            box-sizing: border-box;
            width: var(--uiMenuCircleSize);
            height: var(--uiMenuCircleHeight);
            flex: none;
            position: relative;
        }
        
        .menu__toggle::before {
            content: "";
            width: 1em;
            height: 1em;
            font-size: var(--uiMenuCircleSize);
            background-color: var(--uiMenuCircleBackgroundColor);
            border-radius: 50%;
            position: absolute;
            bottom: -.5em;
            left: calc(50% - .5em);
            z-index: -1;
            will-change: width, height;
            transition: transform .25s cubic-bezier(0.04, -0.1, 0.29, 0.98), width .25s cubic-bezier(0.04, -0.1, 0.29, 0.98), height .25s cubic-bezier(0.04, -0.1, 0.29, 0.98);
        }
        /* hamburger animációk */
        
        .m-hamburger::before,
        .m-hamburger::after,
        .m-hamburger__label {
            transition-timing-function: ease;
            transition-duration: .15s;
        }
        
        .m-hamburger::before,
        .m-hamburger::after {
            transition-property: transform;
        }
        
        .m-hamburger__label {
            transition-property: transform, opacity;
        }
        /*
=====
MENU részek
=====
*/
        
        .menu__toggle:focus {
            outline: var(--menuHaburgerOutlineOWidth, 2px) solid var(--menuHaburgerOutlineColor);
            outline-offset: var(--menuHaburgerOutlineOffset, 5px);
        }
        
        .menu_activated {
            height: 100%;
        }
        
        .menu_activated .menu__nav {
            flex-grow: 1;
            opacity: 1;
            will-change: opacity;
            transition-duration: .2s;
            transition-delay: .3s;
        }
        
        .menu_activated .menu__toggle::before {
            width: 100vmax;
            height: 100vmax;
            transform: translate3d(-50vh, -50vh, 0) scale(5);
            transition-duration: 1s;
        }
        
        .menu:not(.menu_activated) .menu__list {
            display: none;
        }
        
        .menu_activated .m-hamburger::before {
            top: 50%;
            transform: translate3d(0, -50%, 0) rotate(45deg);
        }
        
        .menu_activated .m-hamburger::after {
            transform: translate3d(0, -50%, 0) rotate(135deg);
            top: 50%;
        }
        
        .menu_activated .m-hamburger__label {
            transform: rotate(-45deg) translate3d(-.285em, -.3em, 0);
            opacity: 0;
        }
        /*
=====
Szín beállítások
=====
*/
        
         :root {
            --colorWhite: #f8e7d1;
            --colorMain: #985d41;
            --menuCircleBackgroundColor: var(--colorMain);
            --menuHamburgerBackgroundColor: var(--colorWhite);
            --menuHaburgerOutlineColor: var(--colorMain);
        }
        
        .menu_activated {
            --menuHaburgerOutlineColor: var(--colorWhite);
        }
        /*
=====
DEMO próba
=====
*/
        
        .menu__group {
            --rLinkTextColor: var(--colorWhite);
            padding: .5rem 2rem;
            font-size: 2rem;
            font-weight: 700;
            text-transform: uppercase;
        }
        
        .linktr {
            order: -1;
            padding: 1.75rem;
            text-align: center;
        }
        
        .linktr__goal {
            background-color: rgb(209, 246, 255);
            color: rgb(8, 49, 112);
            box-shadow: rgb(8 49 112 / 24%) 0px 2px 8px 0px;
            border-radius: 2rem;
            padding: .5rem 1.25rem;
        }
        
        @media (min-width: 1024px) {
            .linktr {
                position: absolute;
                right: 1rem;
                bottom: 1rem;
            }
        }